@import url(root.css);


.seller_cart_wrapper{
    display: flex;
    justify-content: center;
}

.seller_cart_contents{
    width: 90%;
}

.seller_cart_name_container, .seller_item, .item_counter{
    display: flex;
    flex-direction: row;
}

.seller_cart_name_container{
    align-content: center;
}

.cart_seller_checkbox, .item_cart_checkbox{
    height: 0.938rem;
    aspect-ratio: 1/1;
}

.seller_cart_name{
    font-size: 0.75rem;
    margin: 0;
}

.seller_items_wrapper{
    position: relative;
    margin-top: 1rem;
}

.seller_item{
    position: relative;
    margin-bottom: 1rem;
}

.seller_items_wrapper{
    margin-left: 1rem;
}

.item_cart_checkbox{
    margin-right: 0.5rem;
    align-self: center;

}

.item_cart_img{
    margin-right:0.5rem;
    max-width: 5rem;
    aspect-ratio: 1/1;
}

.cart_item_description{
    display: flex;
    flex-direction: column;
    align-self: end;
    margin: 0;
}

.cart_item_description *{
    margin: 0;
    font-size: 0.75rem;
}

.item_cart_price{

}

.item_counter{
    position: absolute;
    right:0;
    bottom: 0;
    display: flex;
    border: 1px solid black;
    align-items: center;
}

.item_counter *{
    font-size: 0.75rem;
    margin: 0;
}

.cart_item_qty{
    text-align: center;
    width: 1.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


