@import url(root.css);

#cus_acc_section{
    width: 100%;
}

#cus_acc_header_contents{
    width: 100%;
}

#cus_acc_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#cus_acc_header{
    display: flex;
    width: 100%;
    padding: 1rem 0 1rem 0;
    justify-content: center;
    background-color: var(--cus_acc_header);
    
}

#cus_acc_info{
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
    align-self: flex-end;
}

#cus_username{
    font-size: 1rem;
    font-weight: 500;
}

#cus_acc_info p{
    height: fit-content;
    margin: 0;
}

.cus_info_relation{
    font-size: 0.5rem;
}

#cus_acc_header_contents{
    display: flex;
    width: 90%;
}

#cus_acc_img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.5px solid black;
}

#cus_acc_order_info_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

#cus_acc_order_info{
    margin-top: 1rem;
}

#cus_acc_order_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin: 0;
}

#cus_acc_order_head p{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 530;
    margin: 0;
    align-self: flex-end;
}

#cus_acc_order_head a{
    font-size: 0.65rem;
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

#cus_acc_order_info_container{
    display: flex;
    flex-direction: column;
    width: 90%;
}

#cus_order_info_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cus_order_info_wrapper{
    margin-top: 1rem;
}

#cus_order_info_container figure{
    text-align: center;
}

#cus_order_info_container figure i{
    font-size: 1.2rem;
}

#cus_order_info_container figure figcaption{
    font-size: 0.7rem;
    text-transform: uppercase;
}

#cus_acc_body{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#cus_acc_body_wrapeper{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

#cus_acc_body_wrapeper figure{
    display: flex;
    min-width: 9.8rem;
    min-width:  none;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--user_acc_border);
    border-radius: 5px;
    font-size: 0.9rem;

}

#cus_acc_body_wrapeper figure i{
    margin-right: 0.2rem;
}

.bi-heart{
    color: var(--heart_icon);
}

.bi-person-check{
    color:var(--follow_store_icon);
    font-size: 1.2rem;
}

.bi-question-circle{
    color: var(--help_icon);
}

.bi-basket{
    color: var(--store_icon);
}

.cus_acc_body_content{
    cursor: pointer;
}

.item_loop_contaner{
    width: 100%;
    justify-content: center;
}

.item_loop{
    width: 95%;
}