@import url(root.css);

body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.shop-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px; /* Increased spacing */
}

.shop-header img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.shop-name {
    font-size: 20px; /* Smaller text */
    font-weight: bold;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; /* Increased spacing */
}

.dashboard-header h4{
    margin: 0;
    display: flex;
    align-self: end;
}

.card {
    padding: 10px;
    margin-bottom: 30px; /* Increased spacing */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card h5 {
    font-size: 14px; /* Smaller text for revenue and items sold */
}

.product-card {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Increased spacing */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.product-card span.rank {
    position: absolute;
    left: -35px;
    font-size: 18px; /* Smaller text */
    font-weight: bold;
}

.product-card img {
    width: 70px; /* Square image */
    height: 70px; /* Square image */
    margin-right: 15px;
}

.product-info {
    flex-grow: 1;
}

.product-info div {
    margin-bottom: 5px;
    font-size: 14px; /* Smaller text */
}

#topSellingProducts {
    padding-left: 35px;
}


#statistics_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.stats_card{
    padding: 0.8rem 1.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    justify-content: flex-start;
}

.stats_card *{
    box-sizing: border-box;
    width: auto;
    margin: 0;
}

.stats_card h5{
    font-size: 0.875rem;
}

.stats_card p{
    font-size: 1rem;
    font-weight: 700;
}
