@import url(root.css);

#item_interaction_wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--gray_item_interaction_border);
}

#item_interaction_container{
    display: flex;
    flex-direction: row;
}

#item_interaction_container div{
    display: flex;
    flex-direction: column;
}

#item_interaction_message, #item_interaction_share{
    width: 15%;
}

#item_interaction_cart{
    width: 30%;
}

#order_item_button{
    width: 40%;
    background-image: var(--orange_fill_gradient);
}