@import url(root.css);

#loop{display: flex;}
#loop div{ margin: auto;}

.item_wrapper{
    max-width: 100%;
}

.item_contents{
    background-color:white;
    border: 0.5px solid var(--item_border);
    min-width: 10rem;
    max-width: 10rem;
    min-height: 16rem;
    max-height: 16rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.item_img{
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.item_info{
    font-size: 0.75rem;
    max-width: 90%;
    height: fit-content;
    position: relative;
}

.item_info *{
    margin-bottom: 0.1rem;
}

.item_name{
    font-weight: 300;
}

.item_stars{
    display: flex;
}

.item_stars ul li{
    color: var(--star_icon);
}

.star_splitter{
    height: inherit ;
    background-color: var(--star_splitter_span);
    width: 0.05rem;
    margin: 0 0.3rem;
}

.item_stars ul{
    display: flex;
    list-style: none;
    padding: 0;
}

i.item_cart{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.3rem;
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    background-color: var(--cart_bg);
}