*{
    text-align: center;
    font-family: "Inter", sans-serif;
}

h1{
 
}

form{
    display: flex;
    flex-direction: column;
}

input{
    height: 2.5rem;
    width: 40rem;
    margin:auto;
    margin-bottom: 1.5rem;
    text-align: left;
}

#forgotPass{
    margin-bottom: 2rem;
    text-align: end;
}

button{
    height: 3rem;
    width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
}


