@import url("root.css");

body{
    min-height: 100vh;
}

.main_section{
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
}

.main_contents_container, .main_contents_wrapper, .main_container{
    width: 100%;
    min-height: 100%;
    display: flex;
}

.main_section{
    display: flex;
    justify-content: center;
}

.main_container{
    height: fit-content;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main_header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

#main_header_container{
    display: flex;
    justify-content: center;
}

#main_head{
    width: 50%;
    height: fit-content;
}

#main_head img{
    width: 100%;
}

#main_head figcaption{
    font-size: 2vh;
    color: var(--app_name);
}

.main_contents_container{
    display: flex;
    flex-direction: column;
}

/* Login */

#login_form{
    margin-bottom: 2rem;
}

#login_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#login_field{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7rem;
    margin-bottom: 0.3rem;
}


#login_field input{
    background-color: var(--inp_field_bg);
    border-radius: 0.5rem;
    border: none;
    height: 3rem;
    text-indent: 0.5rem;

}

#login_field div{
    position: inherit;
    width: 100%;
    display: flex;
}

#login_field div input{
    position: inherit;
    width: 100%;
}

#show_password{
    position: absolute;
    color: black;
    align-content: center;
    height: 100%;
    right: 1rem;
}

#forget_container{
    width: 100%;
    margin-bottom: 2rem;
}

#forget_pass{
    display: flex;
    float: right;
    width: fit-content;
    font-size: 0.8rem;
}

#login_submit{
    border: none;
    background-color: var(--login_bg);
    height: 3rem;
    color: white;
    border-radius: 1rem;
}

/* Sign up */

#sign_up_contents p{
    font-weight: 600;
}

#sign_up_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
}

#sign_up_form input{
    width: 100%;
    height: 3.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: var(--inp_field_bg);
    border: 1px solid var(--field_border);
    text-indent: 0.5rem;
}

#terms_conditions_container{
    display: flex;
    margin-bottom: 1.2em;
}

#terms_conditions_checkbox{
    margin-right: 0.5rem;
    background-color: white;
    border: 1px solid var(--login_bg)
}

#sign_up_submit{
    height: 3rem;
    width: 100%;
    border: none;
    background-color: var(--login_bg);
    color: white;
    border-radius: 0.5rem;
}

/* ------------------------------------Second Placeholder------------------------------------*/


/* Lower Part Main */
#main_footer_section{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 3rem;
}

#main_footer_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main_line_p{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid var(--field_border); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
#main_line{
    background:#fff; 
    color: var(--field_border);
    padding:0 10px; 
}

#socmed_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

#socmed_container{
    display: flex;
    flex-direction: row;
    width: 6rem;
    justify-content: space-between;
}

#socmed_container img{
    height: 2rem;
    background-color: var(--inp_field_bg);
}

#main_footer{
    position: relative;
    width: 100%;
    min-height: 12rem;
    display: flex;
}

#main_footer_contents{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#main_form_changer{
    color: var(--login_bg);
    cursor: pointer;
}

.bi-eye{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    align-self: center;
}

.password_container{
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

#sign_up_form .password_container input{
    margin-bottom: 0;
}