@import url(root.css);

#seller_page_wrapper{
    display: flex;
    flex-direction: column;
}

#seller_page_header{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px -2px black;
    padding: 1rem 0;
}

#seller_page_header_wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#seller_account_img{
    width: 2.813rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 0.3rem;
}

#seller_page_info *,#seller_page_follow, #seller_page_follower *{
    margin: 0;
}

#seller_page_info{
    align-content: end;
}

#seller_name{
    font-size: 0.938rem;
}

#seller_rates{
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
}

#seller_page_follow{
    font-size: 0.5rem;
    position:absolute;
    right: 0;
    top: 0;
    width: 3.25rem;
    height: 0.938rem;
    background-image: var(--orange_fill_gradient_two);
    align-content: center;
    text-align: center;
    color: white;
    border-radius: 1rem;
}

#seller_page_follower{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

#seller_follower_Count{
    font-size: 0.75rem;
    margin-right: 0.5rem;
}

#follower{
    font-size: 0.625rem;
    height: fit-content;
    align-self: flex-end;
}

#seller_options_wrapper{
    display: flex;
    justify-content: center;
    height: 3rem;
    border-bottom: 3px solid var(--seller_page_gray);
    position: relative;
}


#seller_options_container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    height: 100%;
}

#seller_options_container *{
    position: relative;
    height: 100%;
    margin: 0;
    align-content: flex-end;
}


#seller_options_container *::after {
    content: "";
    position: absolute;
    bottom: -3px; /* Position border below the child */
    left: 0;
    width: 100%;
    height: 3px; /* Thickness of the border */
    background: var(--seller_page_green); /* Color of the border */
    z-index: 1; /* Ensure the border is above the parent */
    border-radius: 3rem;
  }

  #seller_main_wrapper{
    margin-top: 1rem;
  }

  #seller_page_carousel_wrapper{
    margin-top: 3rem;
  }

.seller_carousel_img{
    aspect-ratio: 21/9;
}

.seller_tabs{
    cursor: pointer;
}
